In [ ]:
# Conditional Statements

var1 = 3
var2 = 5.0

In [2]:
if var1>1:
    print("Var1 is a Bigger Number")

Var1 is a Bigger Number

In [3]:
if var1>1:
    print("Bigger")
else:
    print("Smaller")

Bigger

In [4]:
var1=0
x=9
y =17
if x>y:
    print ("x>y")
elif x <y:
    print("x<y")
else:
    print ("x=y")

x<y

In [5]:
a=0 if x>10 else 1

In [6]:

for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
i=1
while i < 5:
    print (i)
    i = i+1
print ('Bye')

1
2
3
4
Bye

In [8]:
i = 1
while i < 5 :
    print (i)
    i = i+1
    if i == 4:
        break
print ('Bye')

1
2
3
Bye

In [9]:

i = 1
while i < 5 :
    print (i)
    i = i+1
    if i == 4:
        print ('Bye')
        break

1
2
3
Bye

Collections

In [10]:

list1 = ["computer", "printer", "TV", "Camera", 89 ,30.8]
list1

['computer', 'printer', 'TV', 'Camera', 89, 30.8]

In [11]:
tuple1 = ("computer", "printer", "TV", "Camera", 89 ,30.8)
tuple1

('computer', 'printer', 'TV', 'Camera', 89, 30.8)

In [12]:
list1[0] = "PC"

In [13]:
tuple1[0] = "PC"

TypeError: 'tuple' object does not support item assignment

In [14]:
set1 = set(["computer", "printer", "TV", "Camera", 89 ,30.8])

In [15]:
set1

{30.8, 89, 'Camera', 'TV', 'computer', 'printer'}

In [16]:
set1 = set(["Computer", "Printer", "TV", "Camera", 89 ,30.8, "Camera"])
set1

{30.8, 89, 'Camera', 'Computer', 'Printer', 'TV'}

In [17]:
dict1 = {"Monday" :1, "Tuesday":2, "Wednesday":3}
dict1

{'Monday': 1, 'Tuesday': 2, 'Wednesday': 3}

In [18]:

dict1 = {"Monday" :0, "Tuesday":1, "Wednesday":2}
dict1

{'Monday': 0, 'Tuesday': 1, 'Wednesday': 2}

In [19]:
dict1[0]

KeyError: 0

In [20]:
fruits = ['apple', 'orange', 'banana', 'papaya']

In [21]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']

In [22]:

all_fruits = fruits + seasonal_fruits
all_fruits

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon']

In [23]:
all_fruits.append('grapes')
all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'mango',
 'cherry',
 'watermelon',
 'grapes']

In [24]:
a = [1,1,2,4,5,6,7]
min(a)
max(a)

7

In [25]:
a.count(1)

2

In [26]:
a.insert(3,3)

In [27]:
a

[1, 1, 2, 3, 4, 5, 6, 7]

In [28]:
a.insert (8,4)

In [29]:
a

[1, 1, 2, 3, 4, 5, 6, 7, 4]

In [30]:
a.reverse()

In [31]:
a

[4, 7, 6, 5, 4, 3, 2, 1, 1]

In [32]:
a.sort()
a

[1, 1, 2, 3, 4, 4, 5, 6, 7]